{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% include 'header.html' %}

<body>
<!--CALCULATOR FORM-->
    <section class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_d166">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">Calculator</h1>
        <div class="u-form u-form-1">
          {{ wtf.quick_form(form, novalidate=True) }}
        </div>
      </div>
    </section>

<!--CALCULATOR FORM END-->
</body>
</html>

{% endblock %}